<a href="https://colab.research.google.com/github/HideyukiYokota/HideyukiYokota.github.io/blob/main/python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(1+3)

4

In [ ]:
age = 20 #年齢
if age < 20:
  print("ジュースで乾杯")
else:
  print("お酒で乾杯")

お酒で乾杯

In [ ]:
print("今日の天気は","雪")
print("今日の天気は"+"雪")
print("今日の天気は""雪")
print("降水確率" + str(50) + "%")
print("雪" * 5   )

In [ ]:
user_name = "侍太郎"
print(user_name)
user_name = "侍ハナコ"
print(user_name)
last_name = "侍"
first_name ="太郎"
print(last_name + first_name)
print(f"私の名前は{last_name}{first_name}です。")

In [ ]:
user_names = ["侍太郎","侍次郎"] #リスト
print(user_names[1])
print(user_names)
user_names.append("侍五郎")
print(user_names)
user_names.pop(1)
print(user_names)

侍次郎
['侍太郎', '侍次郎']
['侍太郎', '侍次郎', '侍五郎']
['侍太郎', '侍五郎']

In [ ]:
country_names = ('日本','アメリカ')#タプル
print(country_names[0])
prime_number = {2,5,7,3,5,5,5 }
#print(prime_number[2]) #セットは順番・重複なしなのでエラー
prime_number.add(10)
print(prime_number)
prime_number.remove(2)
print(prime_number)

日本
{2, 3, 5, 7, 10}
{3, 5, 7, 10}